
<section class="bg-blue-900 p-12">
    <div class="container mx-auto">
        <div id="testimonials" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide pt-8">
                    <div class="bg-white p-8 rounded-md relative shadow-lg">
                        <span class="font-serif text-6xl leading-none rounded-full border-2 border-blue-900 inline-block p-4 text-blue-900 bg-white absolute -top-8">
                            <svg viewBox="0 0 448 512" class="w-8 h-8">
                                <use xlink:href="#quote" />
                            </svg>
                        </span>
                        <blockquote class="italic font-serif text-slate-500 mt-6 mb-4">
                            &ldquo;I started going to Hislop and Wolverson in 2017 and I have been consistently impressed with the professionalism of its friendly and attentive staff. I would particularly like to draw attention to Miss Katherine Hubbard who has made a fantastic job of fixing my upper right premolar after it needed extensive filling. She is a very knowledgable dentist who made me feel totally at ease with something I was worried about going through. Throughout the process she kept me informed about what she was doing and why, which made my trip not so much painful as enlightening! It is good to know that the future of dentistry will be in the hands of people like her. Keep up the great work Miss Hubbard!&rdquo;
                        </blockquote>
                        <cite class="not-italic text-blue-900">Hugh Graves</cite>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>