@tailwind base;
@tailwind components;
@tailwind utilities;


button, a {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  touch-action: manipulation;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);

}
.headroom--unpinned {
    transform: translateY(-100%);
}